# Secrets
.env
.env.*

# Git
.git/
.gitignore

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environments
.venv/
venv/

# IDE
.idea/
.vscode/

# Tests and coverage
.pytest_cache/
htmlcov/
.coverage
*.cover

# Local media
*.m4a
media/
uploads/

# Celery local files
celerybeat-schedule*

# macOS
.DS_Store
__MACOSX/

# Generated static files
static/